* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

body > div {
  height: 200px;
  width: 200px;
  background: #ebe9e9;

  & > div {
    height: 100%;
    width: 100%;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.ellipse {
  background: #000000;
  clip-path: ellipse(70px 100px at 40% 40%);
}

.ellipse-center {
  background: #0000aa;
  clip-path: ellipse(80px 70px at center);
}

.inset {
  background: #bb00bb;
  clip-path: inset(20px);
}

.inset-multi-radius {
  background: #ccaadd;
  clip-path: inset(20px 10px 30px 10px round 20px 0);
}
